<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.jtt.dao.IStudentTDao">
  <resultMap id="BaseResultMap" type="com.mango.jtt.model.StudentT">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="friendName" jdbcType="VARCHAR" property="friendName" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, address, friendName, weight
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  	<select id="select" resultMap="BaseResultMap" parameterType="com.mango.jtt.model.StudentT">
		select
		<include refid="Base_Column_List" />
		from student_t
		where 1 = 1
		<if test=" null != id">
			and id = #{id}
		</if>
		<if test=" null != name">
			and name = #{name}
		</if>
		order by id
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mango.jtt.model.StudentT">
    insert into student_t (id, name, address, 
      friendName, weight)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{friendName,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mango.jtt.model.StudentT">
    insert into student_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="friendName != null">
        friendName,
      </if>
      <if test="weight != null">
        weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="friendName != null">
        #{friendName,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mango.jtt.model.StudentT">
    update student_t
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="friendName != null">
        friendName = #{friendName,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mango.jtt.model.StudentT">
    update student_t
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      friendName = #{friendName,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>