<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.jtt.dao.IStudentTDao">
  <resultMap id="BaseResultMap" type="com.mango.jtt.model.StudentT">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="classno" jdbcType="INTEGER" property="classno" />
    <result column="gradeno" jdbcType="INTEGER" property="gradeno" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, classno, gradeno, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mango.jtt.model.StudentT">
    insert into student_t (id, name, classno, 
      gradeno, address)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{classno,jdbcType=INTEGER}, 
      #{gradeno,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mango.jtt.model.StudentT">
    insert into student_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="classno != null">
        classno,
      </if>
      <if test="gradeno != null">
        gradeno,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="classno != null">
        #{classno,jdbcType=INTEGER},
      </if>
      <if test="gradeno != null">
        #{gradeno,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mango.jtt.model.StudentT">
    update student_t
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="classno != null">
        classno = #{classno,jdbcType=INTEGER},
      </if>
      <if test="gradeno != null">
        gradeno = #{gradeno,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mango.jtt.model.StudentT">
    update student_t
    set name = #{name,jdbcType=VARCHAR},
      classno = #{classno,jdbcType=INTEGER},
      gradeno = #{gradeno,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>